


#messages {
	height: 50%;
    overflow-y:scroll;
	margin-bottom:0px;

	
}

#messages ul{
	list-style: none;
	bottom: 0;
	left: 0;
	margin-bottom: 0px;

}

form{
	
	margin: 0px;
	padding: 0px;
}


#chatbox {
	padding: 0px;
	margin-bottom:0px;
}

#newMsg{
	padding: 0px;
	margin-bottom:0px;
}





